# Compilación de .NET
[Bb]in/
[Oo]bj/
publish/

# SQLite
*.db
*.db-shm
*.db-wal
DB/

# Configuración local / secretos
API/appsettings.json
token/*.cs

# IDE
.vs/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log